<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="reporting">
      <ion-icon name="keypad"></ion-icon>
      <ion-label>Reporting</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="comptabilite">
      <ion-icon name="calculator"></ion-icon>
      <ion-label>Comptabilité</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tresorerie">
      <ion-icon name="briefcase"></ion-icon>
      <ion-label>Trésorerie</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
